<h1>Editing film</h1>

<%= render 'form' %>

<%= link_to 'Show', @film %> |
<%= link_to 'Back', films_path %>
<%= link_to 'Destroy', @film, method: :delete, class: 'small_button', data: { confirm: 'Are you sure?' } %>
