body {
 // background: #141;
  color: #333;
  font-family: "Calibri Light", verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

#container {
  background: #eee;
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

header {
  background: #141;
  color: #fff;
  height: auto;
  padding: 25px 0;
  margin-bottom:20px;
  border-radius: 5px;
  font-size: large;
}

footer {
  text-align: center;
  background: #141;
  color: #fff;
  padding: 20px 0;
  border-radius: 5px;
  margin-top: 20px;
}

nav {
  padding-bottom: 20px;
  margin: 40px 30px 0 30px;
}

th, td {
  padding-left: 30px;
}

div {
  &.field, &.actions {
    margin: 10px 30px;
  }
}

#notice {
  color: #b00;
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
}

.field_with_errors {
  padding: 2px;
  background-color: #ff8814;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #ff8814;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #ff8814;
    color: #ff0;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1, h2  {
  text-align:center;
  padding: 20px;
}

h3 em {
  font-size: large;
}

td dt {
  font-size: large;
  font-weight: bold;
  color: #141;
  margin-bottom: 10px;
}

td dl {
  margin: 16px 0;
  width: 400px;
}

dd {
  padding: 5px;
}

dd input {
  margin-top: 15px;
}

.form_title {
  text-align: left;
  margin-top: 100px;
}

form div {
  margin: 10px 0;
}

img {
  height:150px;
  width: 200px;
}

p img {
  height: 225px;
  width: 300px;
}

.star_average {
  margin-left: 30px;
}

.goldstar {
  position: relative;
  top: -40px;
  z-index: 10;
}

.goldstar img {
  height: 20px;
  width: 20px;
  display: inline-block;
  float: left;
}

.slider {
  height: 32px;
  width: 50%;
  background: #eee;
  opacity: 0.9;
  position: relative;
  top: -40px;
  left: 0;
  z-index: 100;
}

table {
  margin-bottom: 10px;
}

.film_description {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
#image_detail {
  float:left;
  padding: 10px 80px;
}

#film_detail {
  padding-top: 10px;
}

.show_button {
  margin-top: 30px;
}

#partials {
  margin-top: 40px;
}

#partials p, #partials h3 {
  margin-left: 30px;
}

#paginate {
  text-align: center;
  margin: 20px 0 30px;
}

fieldset {
  width: 40%;
  border: 1px solid;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  background: #ddd;
}

fieldset p {
  text-align: center;
}

fieldset dt {
  padding-bottom: 20px;
  font-size: 20px;
}

.special_fieldset {
  width: 80%;
  background: #fff;
  padding: 10px 40px 30px ;
}

.special_fieldset textarea {
  width: 80%;
  margin-top: 20px;
}

.edit_fieldset {
  background: #fff;
}

fieldset fieldset {
  margin-left: 0;
  background: #fff;
}

.review_button {
  margin-left: 50px;
}
span {
  font: bold 21px sans-serif;
}
#post_review {
  margin-left: 80px;
}

#register {
  float: right;
}

.button, .small_button {
  background: #373;
  color: #eee;
  border-radius: 4px;
  text-decoration: none;
}
.button {
  padding: 10px;
}

.small_button {
  padding: 5px 10px;
}

.reg {
  margin: 0 10px;
}

fieldset button {
  margin: 5px;
  text-align: center;
}

.new {
  margin: 20px 0;
}

